<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello from server</h1>

    <div style="margin: 20px;">
        <form action="/api" method="post">
            <input type="text" name="url" placeholder="enter the url">
            <button type="submit">Generate</button>
        </form>
    </div>

    <div>
        <% if (locals.shortid) { %>
            http://localhost:8000<%=shortid %>

                <% } %>
    </div>
    <div>
        <% if (locals.urls) { %>
            <% urls.forEach(element=> { %>
                <div style="display: flex; justify-content: space-around; align-items: center; text-align: center;">

                    <div>
                        <strong>
                            <%= element.shortid %>
                        </strong>
                    </div>
                    <div>
                        <strong>
                            <%= element.redirect_url %>
                        </strong>
                    </div>
                    <div>
                        <strong>
                            <%= element.visitorHistory.length %>
                        </strong>
                    </div>
                </div>
                <% }) %>
                    <% } %>
    </div>
</body>

</html>